git+https://github.com/Rapptz/discord.py
# git+https://github.com/Rapptz/discord.py@7f4c57dd5ad20b7fa10aea485f674a4bc24b9547
# git+https://github.com/Rapptz/discord.py@rewrite
git+git://github.com/ExtraRandom/Game_Stores_API
requests
Pillow
mcstatus
beautifulsoup4